/*Game*/
#contentGame{
    width: 100%;
    height: 50vh;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgGame{
    width: 40%;
    height: 90%;
}
#imgGame video{
    width: 100%;
    height: 100%;
}


#contentTextGame{
    width: 40%;
    height: 100%;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#contentTextGame h2{
    font-size: 2rem;
}
#contentTextGame p{
    font-size: 1.2rem;
    margin-top: 10px;
}
/*Cards*/
#contentcards{
    width: 100%;
    height: 100vh;
    display: flex;
}
#contentPrincipalCards{
    width: 75%;
    height: 100%;
    background-color: var(--color-background);
}
#principalCardsTitle{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}
#principalCardsTitle span, #titleSideCards{
    font-size: 1.7rem;
    font-weight: bolder;
}
#principalCards{
    width: 100%;
    height: 90%;
}
.card{
    width: 95%;
    height: 18%;
    background-color: var(--color-primary);
    border: 3px black solid;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    color: var(--color-letter);
}
.card:hover{
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card:hover span{
    color: var(--color-letter-hover);
}
.card img{
    height: 90%;
    margin-left: 5px;
}
#nameStore{
    margin-left: 15px;
    
}
#priceGame{
    position: absolute;
    right: 25px;
}

#contentSideCards{
    width: 25%;
    height: 100%;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
}
#titleSideCards{
    margin: 0 auto;
    margin-top: 20px;
}
#sideCards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}
.sideCard{
    width: 45%;
    height: 28%;
    background-color: var(--color-primary);
    border: 3px black solid;
    border-radius: 20px;
    margin-top: 10px;
}
.sideCard img{
    width: 100%;
    height: 70%;
}
.sideCard h2{
    text-align: center;
    font-size: 1.3rem;
    font-weight: normal;
}
/*Requisitos*/
#contentRequisitos{
    width: 100%;
    height: 40vh;
    display: flex;
    background-color: var(--color-background);
}
#textRequisitos{
    width: 50%;
    height: 80%;
    margin: auto 0;
    margin-left: 30px;
}
#textRequisitosTitle{
    font-size: 1.5rem;
    font-weight: bolder;
}
#requisitos{
    width: 100%;
    display: flex;
}
.requisitos:nth-child(1){
    margin-right: 2%;
}
.requisitos{
    width: 48%;
    display: flex;
    flex-direction: column;
}
.requisitos span:nth-child(1){
    font-weight: bolder;
}
.requisitos span{
    margin-top: 10px;
}