/*Header*/
#subMenu li a{
    color: var(--color-letter-hover);
    font-weight: bolder;
    border-bottom: 2px var(--color-letter-hover) dashed;
}

/*Form*/
#contentForm{
    width: 100%;
    height: 80vh;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
}
#contentFormBackground{
    width: 60%;
    height: 80%;
    background-color: var(--color-primary);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contentFormBackgroundAling{
    width: 90%;
    height: 100%;
}
    /*Secciones del formulario*/
.form{
    width: 100%;
    height: 13%;
    margin-top: 10px;
}
hr{
    border: 1px black solid;
}
.formContent{
    width: 48%;
    height: 100%;
    float: left;
}
.formContent:nth-child(1){
    margin-right: 4%;
}
.formContent div{
    height: 100%;
    display: flex;
    align-items: end;
}
.formContent div img{
    width: 12%;
    margin-right: 10px;
}
.formContent input{
    width: 80%;
    height: 80%;
    background: transparent;
    border: 0;
    outline: none;
    font-size: 1.3rem;
}
.formContent input::placeholder{
    color: var(--color-letter);
}
.formContent svg{
    width: 30px;
    height: 30px;
}
.formContentEmail{
    width: 100%;
}
.formContentEmail div img{
    width: 6%;
}
#formFile{
    height: 30%;
}
.formContentFile{
    width: 100%;
    margin-right: 0px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-extra);
    border-radius: 15px;

}
.formContentFile:nth-child(1){
    margin-right: 0%;
}
.formContentFile input{
    display: none;
}
    /* Estilo para el label que actuará como el botón personalizado */
#fileLabel {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: var(--color-letter);
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

    /* Estilo para el texto que muestra el nombre del archivo */
#fileName {
    font-size: 16px;
    vertical-align: middle;
}
    /*Botones*/
#formButtons{
    width: 100%;
    height: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#formButtons input{
    width: 18%;
    height: 50%;
    cursor: pointer;
    border-radius: 8px;
    background: var(--color-secondary);
    color: var(--color-letter);
}
#formButtons input:hover{
    background: var(--color-extra);
}
#formButtons a{
    text-decoration: none;
    color: var(--color-letter);
}
#formButtons a:hover{
    color: var(--color-letter-hover);
}