:root{
    --color-letter: #010010;
    --color-letter-hover: #237ebb;
    --color-primary: #033556;
    --color-secondary: #11537f;
    --color-extra: #0199e2;
    --color-background: #2e4557;
    /* Tonos oscuros:
    #080618
    #010010
    #2e4557
    #2f3d59
    #27364c
    #11537f
    #09491d
    #033556
    #0199e2
    Tonos claros:
    #a5ebfa
    #34bee6
    #e78e4d
    #16b9e6
    #f74a4c
    #fa4954
    #f9faf4 */
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    width: 100%;
    overflow-x: hidden;
}
/*Header*/
header{
    width: 100%;
    height: 10vh;
    background-color: var(--color-secondary);
    display: flex;
    color: var(--color-letter);
    z-index: 20;
    position: fixed;
}
#logo{
    width: 20%;
    height: 100%;
    margin-left: 10px;
}
#logo img{
    width: 40%;
    height: 100%;
}
#menu{
    width: 78%;
    display: flex;
    margin: 0;
}
#menu ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
}
#menu li a{
    text-decoration: none;
    color: var(--color-letter);
    font-size: 1.2rem;
    margin-left: 15px;
}
#menu li a:hover{
    color: var(--color-letter-hover);
    transition: color .3s;
}
#menu li:nth-child(5):hover{
    transform: translateY(-10px);
    transition: all .2s;
}
#subMenu{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all .5S;
    top: 0;
    margin-left: 15px;
}
#subMenu li{
    width: 100%;
    display: none;
}
#subMenu li a{
    margin-left: 0px;
}
#menu li:hover #subMenu {
    display: block;
    top: 100%;
    left: 0px;
    visibility: visible;
    opacity: 1;
}
#menu li:hover #subMenu li{
   display: block;
}
#menu li:hover #subMenu {
    display: block;
    top: 100%;
    left: 0px;
    visibility: visible;
    opacity: 1;
}

#menuUser{
    width: 9%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#menuUser img{
    width: 80%;
    margin-top: 5px;
    border: 2px black solid; 
    border-radius: 50px;
}
#menuUser ul{
    width: 140%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: var(--color-extra);
    margin-right: 20px;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;
}
#menuUser:hover ul{
    visibility: visible;
    opacity: 1;
}
#menuUser ul li{
    width: 100%;
    text-align: center;
}
#menuUser ul li:nth-last-child(1){
    text-decoration: none;
    color: var(--color-letter);
    font-size: 1.2rem;
    cursor: pointer;
}
#menuUser ul li:hover{
    background: var(--color-letter-hover);
    transition: color .3s;
}
#menuUser ul li:hover a{
    color: white;
    transition: color .3s;
}
#menuUser ul li:nth-last-child(1):hover{
    color: white;
    transition: color .3s;
}
/*Main*/
main{
    width: 100%;
    overflow-x: hidden;
}
audio{
    display: none;
}
.header{
    height: 10vh;
    width: 100%;
}
/*Footer*/
footer{
    width: 100%;
    height: 10vh;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    color: var(--color-letter);
}
#redesFooter{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#redesFooter svg{
    width: 50px;
    height: 50px;
}
#textFooter{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    text-align: right;
    margin-right: 20px;
}